---
---
<!-- _layouts/bib_compact.html : compact selected-papers entry (full width, short venue abbr + year) -->
      <div class="row">
        <div id="{{entry.key}}" class="col-sm-12">
          <div class="title">{{entry.title}}</div>
          <div class="author">
          {%- for author in entry.author_array -%}
            {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
            {%- assign author_is_self = false -%}
            {%- if site.scholar.last_name contains author_last_name -%}
              {%- if site.scholar.first_name contains author.first -%}
                {%- assign author_is_self = true -%}
              {%- endif -%}
            {%- endif -%}
            {%- assign coauthor_url = nil -%}
            {%- if site.data.coauthors[author_last_name] -%}
              {%- for coauthor in site.data.coauthors[author_last_name] -%}
                {%- if coauthor.firstname contains author.first -%}
                  {%- assign coauthor_url = coauthor.url -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
            {%- if forloop.first == false -%},&nbsp;{%- endif -%}
            {%- if forloop.last and forloop.length > 1 -%}and&nbsp;{%- endif -%}
            {%- if author_is_self -%}
              <em>{{author.first}} {{author.last}}</em>
            {%- elsif coauthor_url -%}
              <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
            {%- else -%}
              {{author.first}} {{author.last}}
            {%- endif -%}
          {%- endfor -%}
          </div>
          <div class="periodical">
            <span class="venue">{{ entry.abbr }}</span> {{ entry.year }}{%- if entry.award %}<span class="award">{{ entry.award }}</span>{%- endif %}{%- if entry.stat %}<span class="pub-stat">{{ entry.stat }}</span>{%- endif %}
          </div>
          <div class="links">
          {%- if entry.abstract %}
            <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
          {%- endif %}
          {%- if entry.arxiv %}
            <a href="https://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
          {%- endif %}
          {%- if entry.url %}
            <a href="{{ entry.url }}" class="btn btn-sm z-depth-0" role="button">Paper</a>
          {%- endif %}
          </div>
          {% if entry.abstract -%}
          <div class="abstract hidden">
            <p>{{ entry.abstract }}</p>
          </div>
          {%- endif %}
        </div>
      </div>
